
a:link {
  color: rgb(44, 12, 66);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(153, 5, 29);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(35, 5, 48);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(58, 3, 19);
  background-color: transparent;
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body{
    background-color: #151515;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 130%;
    color:rgb(239, 223, 247);
}


#titlee{
    color:rgb(248, 233, 255);
}

.parenttt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.divvv1 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    margin: 30px;
}

.divvv2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    width: 550px;
    background-color: #7e0000;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23590000' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#intro{
    font-size: 80%;
    padding: 5%;
    color: rgb(255, 255, 255);
}

#characters{
    border: solid 5px rgb(48, 5, 5);
    margin-right: 500px;
}




.imgs:hover {
  width: 440px;
  height: 330px; 
}

.imgs {
  transition-duration: 600ms;
  transition-timing-function: ease;
  width: 400px;
  height: 300px;
  transition: width 1s, height 1s, transform 1s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgss {
  transition-duration: 600ms;
  transition-timing-function: ease;
  width: 400px;
  height: 150px;
  transition: width 1s, height 1s, transform 1s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgss:hover {
  width: 440px;
  height: 160px; 
}

#posters {
  float: right;
  margin-left: 15px;
  width: 480px;
  height: 360px;  
}

.for {
  margin-left: 15px;
  width: 270px;
  height: 360px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgsss {
  transition-duration: 600ms;
  transition-timing-function: ease;
  width: 400px;
  height: 225px;
  transition: width 1s, height 1s, transform 1s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgsss:hover {
  width: 432px;
  height: 243px; 
}